@page
@model Licenta.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.MemberID" class="control-label"></label>
                <select asp-for="Order.MemberID" class ="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="Order.MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var dish in Model.AssignedDishDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @: <td>
                                        <input type="checkbox"
                                               name="selectedDishes"
                                               value="@dish.DishID"
                                               @(Html.Raw(dish.Assigned ? "checked=\"checked\"" : "")) />
                                        @dish.DishID @:  @dish.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
