@page
@model Licenta.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Editare";
}

<h1>Editeaza</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.ID" />
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryPrice" class="control-label"></label>
                <input asp-for="Category.CategoryPrice" class="form-control" />
                <span asp-validation-for="Category.CategoryPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category.CategoryImageFile" class="control-label">Alege Imagine</label>
                <input type="file" asp-for="Category.CategoryImageFile" class="form-control" />
                <span asp-validation-for="Category.CategoryImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Inapoi la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
